.main
  position: relative
  padding-top: 81px
  padding-bottom: 126px
  // background: url(../img/dots.svg)
  // background-repeat: no-repeat
  // background-position: center
  // background-size: cover
  &__dots
    position: absolute
    top: -90px
    left: 0
    z-index: -1
  &__wrapper
    display: flex
    align-items: center
    justify-content: space-between
  &__left
    margin-left: 20px
  &__right
    margin-right: 90px
  &__title
    margin: 0
    margin-bottom: 37px
    max-width: 529px
    font-family: 'Jost', sans-serif
    font-style: normal
    font-weight: bold
    font-size: 60px
    line-height: 54px
    color: $font-color-primary
  &__subtitle
    font-family: 'Jost', sans-serif
    font-style: normal
    font-weight: normal
    font-size: 27.0974px
    line-height: 103.19%
  &__button
    display: block
    margin-top: 25px
    padding: 18px 34px
    border-radius: 8px
  &__bg
    position: relative
    width: 840px
    height: 726px
    z-index: -2
