*
  box-sizing: border-box
body
  background-color: #F7F7FF
  font-family: 'Roboto', sans-serif
  font-weight: 400
  overflow-x: hidden
img
  width: 100%
a
  text-decoration: none
  color: inherit
input
  outline: none
  background-color: transparent
button
  outline: none
.container
  max-width: 1920px
  margin: auto
  overflow: hidden
.button
  font-family: 'Jost', sans-serif
  font-style: normal
  font-weight: bold
  font-size: 19.2858px
  line-height: 103.19%
  background-color: $button-color
  color: $light
  border: none
  cursor: pointer
  outline: none
.slider-button
  position: absolute
  width: 10px
  height: 17px
  display: flex
  align-items: center
  z-index: 20
  background-color: $font-color-secondary
  &__prev
    background: url(../img/signs-button.svg)
    background-size: 10px 17px
    background-repeat: no-repeat
    transform: rotate(-180deg)
    cursor: pointer
  &__next
    background: url(../img/signs-button.svg)
    background-size: 10px 17px
    background-repeat: no-repeat
    cursor: pointer
.slider-pagination
  position: absolute
  display: flex
  align-items: center
  z-index: 10
.output-message
  display: flex
  align-items: center
.output-discount
  display: flex
  align-items: center
  margin-top: 20px
.message
  margin-top: 10px
  margin-left: 10px
  font-family: 'Montserrat', sans-serif
  font-style: normal
  font-weight: bold
  font-size: 18px
  line-height: 22px
  color: $font-color-primary
  &-discount
    margin-top: 10px
    margin-left: 10px
    font-family: 'Montserrat', sans-serif
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 22px
    color: $font-color-primary
.loader
  display: none
  width: 40px
  height: 40px
  background-color: transparent
  border: 3px solid rgba(44, 43, 67, 0.16)
  border-top: 3px solid $button-color
  border-radius: 100%
  animation: spiner 1s infinite ease-in-out
@keyframes spiner
  to
    transform: rotate(360deg)
.policy
  font-family: 'Montserrat', sans-serif
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 128.91%
  color: #545454
  &-link
    position: relative
    &::after
      position: absolute
      bottom: 2px
      left: 0
      right: 0
      content: ''
      height: 1px
      width: 100%
      background-color: #545454
