@media ( max-width: 1024px )
  .header
    &__wrapper
      margin: auto
      max-width: 920px
  .main
    &__bg
      width: 413px
      height: 341px
    &__left
      width: 367px
    &__title
      font-size: 36px
      line-height: 40px
  .general
    padding-top: 40px
    &__dots
      top: 50px
    &__wrapper
      max-width: 768px
      align-items: center
    &__bg
      width: 387px
      height: 259px
    &__text
      margin-right: 0
      max-width: 281px
    &__title
      font-size: 26px

