@media ( max-width: 576px )
  .container
    
  .main
    &__container
      width: 92%
      margin: auto
    &__bg
      width: 100%
      height: 100%
    &__left
      margin-bottom: 0
      width: 100%
      height: 142px
    &__title
      max-width: 250px
      font-size: 24px
      line-height: 26px
  .general
    &__wrapper
      width: 92%
      margin: auto
    &__bg
      width: 100%
      height: 100%
  .signs
    padding-bottom: 48px
    overflow: hidden
    &__pagination
      max-width: 112px
  .create-sign
    padding-top: 26px
    &__container
      width: 100%
    &__form
      width: 100%
      max-width: 100%
  .location
    padding-bottom: 50px
  .discount
    padding-top: 40px
    &__img
      width: 100%
      height: auto
    &__form
      align-items: center
      justify-content: center
      max-height: 100%
      &-title
        font-size: 24px
      &-subtitle
        font-size: 16px
      &-wrapper
        width: auto
        flex-direction: column
        align-items: center
      &-input
        width: 242px
      &-label
        margin-bottom: 20px
        &:nth-child(2)
          margin-bottom: 30px
      &-button
        padding: 19px 36px