@media ( max-width: 576px )
  .container
    width: 92%
    margin: auto
  .main
    // display: none
    &__bg
      width: 100%
      height: 100%
    &__left
      margin-bottom: 0
      width: 100%
      height: 142px
    &__title
      max-width: 250px
      font-size: 24px
      line-height: 26px
  .general
    &__wrapper
      width: 92%
      margin: auto
    &__bg
      width: 100%
      height: 100%
  .signs
    overflow: hidden
    &__pagination
      max-width: 112px