@media ( max-width: 1200px )
  .main
    // height: auto
    &__bg
      width: 463px
      height: 391px
  .signs
    padding-top: 97px
    &__wrapper
      margin-left: 134px
    &__title
      font-size: 32px
      line-height: 100.69%
    &__slide
      &-image
        width: 319px
        height: 268px
      &-title
        max-width: 300px
        margin-left: 5px
  .create-sign
    &__wrapper
      max-width: 768px
    &__title
      font-size: 38px
    &__block
      width: 415px
      height: 318px
      background-position: 0 0
    &__output
      width: 250px
      bottom: 114px
      left: 133px
      font-size: 17px
    &__form
      &-input
        margin-bottom: 19px
      &-title
        margin-bottom: 15px
      &-info
        bottom: 0
        font-size: 14px
      &-button
        margin-top: 5px
  .location
    &__wrapper
      margin-left: 134px
    &__title
      font-size: 32px
    &__slider
      // &-slide
      //   width: 429px
      //   height: 225px
      // &-img
      //   width: 379px
      //   height: 278px
  .discount
    &__wrapper
      max-width: 992px
    &__img
      width: 434px
      height: 358px
  .price
    &__wrapper
      max-width: 930px
    &__title
      margin-bottom: 20px
      font-size: 40px
    &__image
      width: 270px
      height: 250px
    &__text
      font-size: 16px
