@media ( max-width: 1024px )
  .header
    &__wrapper
      margin: auto
      max-width: 920px
  .main
    &__bg
      width: 413px
      height: 341px
    &__left
      width: 367px
    &__title
      font-size: 36px
      line-height: 40px
  .general
    padding-top: 40px
    &__dots
      top: 50px
    &__wrapper
      max-width: 768px
      align-items: center
    &__bg
      width: 387px
      height: 259px
    &__text
      margin-right: 0
      max-width: 281px
    &__title
      font-size: 26px
  .create-sign
    &__wrapper
      max-width: 678px
    &__title
      margin-bottom: 35px
      font-size: 36px
    &__block
      width: 365px
      height: 268px
      background-position: -76px 0
    &__form
      max-width: 253px
      &-button
        padding: 15px 19px
      &-title
        font-size: 19px
      &-text
        text-align: center
    &__output
      bottom: 101px
      left: 139px
      font-size: 15px
  .discount
    &__wrapper
      max-width: 900px
    &__img
      width: 384px
      height: 308px
    &__form
      width: 460px
      &-title
        font-size: 32px
      &-input
        width: 140px
      &-info
        &_phone
          left: 165px
  .about
    &__wrapper
      max-width: 706px
    &__cards
      grid-template-columns: repeat(auto-fill, 300px)
      grid-template-rows: repeat(3, 180px)
      grid-column-gap: 105px
      grid-row-gap: 30px
  .price
    &__wrapper
      max-width: 870px
    &__image
      width: 250px
      height: 230px
    &__text
      font-size: 14px
