@media ( max-width: 1200px )
  .main
    height: auto
    &__bg
      width: 463px
      height: 391px
  .signs
    padding-top: 97px
    &__title
      font-size: 32px
      line-height: 100.69%
    &__slide
      &-image
        width: 319px
        height: 268px
      &-title
        max-width: 300px
        margin-left: 5px
  .create-sign
    &__wrapper
      max-width: 768px
    &__title
      font-size: 38px
    &__block
      width: 415px
      height: 318px
      background-position: -110px 0
    &__form
      &-input
        margin-bottom: 19px
      &-title
        margin-bottom: 15px
      &-info
        bottom: 0
        font-size: 14px
      &-button
        margin-top: 5px
  .location
    &__title
      font-size: 32px
    &__slider
      &-slide
        width: 429px
      &-img
        width: 429px
        height: 328px
