@media ( max-width: 1750px )
  .container
    max-width: 1500px
    width: 87%
    margin-left: 103px
  .main
    height: 772px
    &__title
      margin-bottom: 25px
    &__bg
      width: 535px
      height: 462px