@media (min-width: 1921px) and ( max-width: 5120px )
  .container
    overflow: visible
  .signs
    overflow: visible
    &__wrapper
      width: 100%
      margin-left: 0
    &__slide
      &-image
        width: 459px
        height: 408px
  .location
    overflow: hidden
    &__wrapper
      width: 100%
      margin-left: 0
